<header id="home">
  <h2>RECENT HAIKU</h2>




</header>
<section id="container">
  <!-- POST MODULE -->
  <% @posts.reverse.each do |post| %>
    <div class="haiku_box">
      <!-- HAIKU -->
      <div class="haiku_top"> 
        <p><%= post.line1 %></p>
        <p><%= post.line2 %></p>
        <p><%= post.line3 %></p>
      </div>
      <!-- HAIKU INFO -->
      <div class="haiku_bottom">
        <h3>
          <a href="/profile/<%= post.user.id %>">
            <%= post.user.name.upcase %>
          </a>
        </h3>
        <div class="like_counter">
          <div class="like_button">
            <a href="/like/<%= post.id %>"><img src="/images/swan.svg"></a>
          </div>
          <% if post.likes != 0 %>
            <div class="like_num">
              <%= post.likes %>
            </div>
          <% end %>
        </div>
      </div>
      <!-- EDIT CORNER / IF CURRENT USER OWNS POST -->
      <% if current_user.id == post.user.id %>
        <div class="edit_corner">
          <a href="/edit/<%= post.id %>"><img src="/images/pencil.svg"></a>
          <a href="/delete/<%= post.id %>"><img src="/images/delete.svg"></a>
        </div>
      <% end %>
    </div>
  <% end %>
</section>