<div id="wrapper">
  <header id="profile">
    <h2><%= @user.name.upcase %></h2>
  <!--   <div class="follow_counter">
      <span>[#] FOLLOWERS</span>
      <span>[#] FOLLOWING</span>
    </div> -->
  </header>
  <section id="container">
    <!-- NO POSTS YET MSG -->
    <% if @posts.length == 0 %>
      <div class="haiku_box">
        <div class="haiku_top"> 
          <p>Alas, no haiku</p>
          <p>Write something for you and us</p>
          <p>Words will flow with time</p>
        </div>
        <div class="haiku_bottom">
          <div class="like_counter">
            <div class="like_button">
              <img src="/images/swan.svg">
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <!-- POST MODULE -->
    <% @posts.reverse.each do |post| %>
      <div class="haiku_box">
        <!-- HAIKU -->
        <div class="haiku_top"> 
          <p><%= post.line1 %></p>
          <p><%= post.line2 %></p>
          <p><%= post.line3 %></p>
        </div>
        <!-- HAIKU INFO -->
        <div class="haiku_bottom">
  <!--         <h3>
            <a href="/profile/<%= post.user.id %>">
              <%= post.user.name.upcase %>
            </a>
          </h3> -->
          <div class="like_counter">
            <div class="like_button">
              <a href="/like/<%= post.id %>"><img src="/images/swan.svg"></a>
            </div>
            <% if post.likes != 0 %>
              <div class="like_num">
                <%= post.likes %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- EDIT CORNER / IF CURRENT USER OWNS POST -->
        <% if current_user.id == post.user.id %>
          <div class="edit_corner">
            <a href="/edit/<%= post.id %>"><img src="/images/pencil.svg"></a>
            <a href="/delete/<%= post.id %>"><img src="/images/delete.svg"></a>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
</div>